.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 520px);
  gap: 0;
}

.content {
  min-width: 0;
}

.api {
  position: sticky;
  top: var(--ifm-navbar-height);
  height: calc(100vh - var(--ifm-navbar-height));
  overflow: auto;

  border-left: 1px solid var(--ifm-toc-border-color);
  padding: 0; /* 🔥 IMPORTANT */
}
