.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  border-radius: 10px;
  background: var(--ifm-color-emphasis-100);
  margin-bottom: 24px;
  font-family: monospace;
}

.badge {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 6px;
  text-transform: uppercase;
}

.get {
  background: #16a34a;
  color: white;
}

.post {
  background: #FACC15;
  color: rgb(255, 255, 255);
}

.put {
  background: #f59e0b;
  color: rgb(255, 254, 254);
}

.delete {
  background: #dc2626;
  color: white;
}

.patch {
  background: #f59e0b;
  color: rgb(255, 255, 255);
}

.urls {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 11px;
  opacity: 0.6;
  display: block;
}
